.vs
SourceCode/MongoTest01/MongoTest/MongoTest/bin
SourceCode/MongoTest01/MongoTest/MongoTest/obj
SourceCode/MongoTest02/MongoTest/MongoTest/bin
SourceCode/MongoTest02/MongoTest/MongoTest/obj
SourceCode/MongoTool/MongoTool/bin
SourceCode/MongoTool/MongoTool/obj
SourceCode/MongoTest01/MongoTest/.vs
SourceCode/MongoTest02/MongoTest/.vs
SourceCode/MongoTest02/MongoTest/.vs
SourceCode/MongoTest01/MongoTest/.vs
SourceCode/MongoTool/.vs
