.vs
SourceCode/MongoTest01/MongoTest/MongoTest/bin
SourceCode/MongoTest01/MongoTest/MongoTest/obj
SourceCode/MongoTest02/MongoTest/MongoTest/bin
SourceCode/MongoTest02/MongoTest/MongoTest/obj
SourceCode/MongoTest01/MongoTest/.vs/MongoTest/v16/.suo
SourceCode/MongoTest02/MongoTest/.vs/MongoTest/v16/.suo
SourceCode/MongoTest02/MongoTest/.vs/MongoTest/v16/.suo
SourceCode/MongoTest01/MongoTest/.vs/MongoTest/v16/.suo
