<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://127.0.0.1:27017/local"/>
  </connectionStrings>
  <appSettings>
    <add key="Mongo1" value="mongodb://127.0.0.1:27017/local"/>
    <add key="DBName1" value="local"/>
    <add key="Mongo2" value="mongodb://127.0.0.1:27017/local2"/>
    <add key="DBName2" value="local2"/>
    <add key="Log" value="true"/>
  </appSettings>
</configuration>